h1 {
	text-align: center; 
 	font-size: 2rem;
	font-weight: bolder;
	margin-bottom: 1rem;
	margin-top: 5rem;
}

p {
	text-align: center; 
 	font-size: 2rem;
	font-weight: bolder;
	margin-bottom: 1rem;
}

div {
	background-color: blue;
}
